[Desktop Entry]
Categories=Graphics;GTK;DDE;
Comment=Wallpaper tool
Exec=wallpaper
Icon=preferences-system
Name=Wallpaper tool
GenericName=Wallpaper tool
StartupNotify=false
Terminal=false
Type=Application